<ion-view title="שאלון 801" id="page10" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <button id="801-button26" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">משוואות ופרבולות</button>
    <button id="801-button36" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">טריגונומטריה</button>
    <button id="801-button37" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">בעיות מילוליות</button>
    <button id="801-button38" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">גאומטריה אנליטית</button>
    <button id="801-button39" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">סדרות חשבוניות</button>
    <button id="801-button40" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">שינוי נושא בנוסחה</button>
    <button id="801-button41" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">סטטיסטיקה</button>
    <a ui-sref="page14()" id="801-button35" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">הסתברות</a>
    <button id="801-button27" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קריאת גרפים</button>
  </ion-content>
</ion-view>