<ion-view title="Math Bagrut" id="page1" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <form id="mathBagrut-form1" class="list">
      <div>
        <img src="img/HzBXPa0CQASkP8riGnZD_logo-mathbagrut.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <label class="item item-input" id="mathBagrut-input1">
        <span class="input-label">User name: </span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="mathBagrut-input2">
        <span class="input-label">Password: </span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="page3()" id="mathBagrut-button1" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block icon ion-log-in">Log in</a>
    <a ui-sref="signup()" id="mathBagrut-button2" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block icon ion-android-person-add">Sign up</a>
  </ion-content>
</ion-view>