<ion-view title="עמוד הבית" id="page3" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6Y6bhqoTeSLzIrWlW3Wg_logo-mathbagrut.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <a ui-sref="page4()" id="page3-button4" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block icon-left ion-android-bulb">חומר למידה</a>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="page5()" id="page3-button5" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block icon-left ion-android-contacts">תנצל ותועיל</a>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="page9()" id="page3-button6" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block icon-left ion-ios-game-controller-b-outline">משחקים</a>
  </ion-content>
</ion-view>