<ion-view title="מבחנים" id="page11" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div id="page11-button-bar1" class="button-bar">
      <button id="page11-button50" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2020</button>
      <button id="page11-button52" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2020</button>
    </div>
    <div id="page11-button-bar2" class="button-bar">
      <button id="page11-button55" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2019</button>
      <a ui-sref="2019801()" id="page11-button56" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2019</a>
    </div>
    <div id="page11-button-bar3" class="button-bar">
      <button id="page11-button57" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2018</button>
      <button id="page11-button58" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2018</button>
    </div>
    <div id="page11-button-bar4" class="button-bar">
      <button id="page11-button59" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2017</button>
      <button id="page11-button60" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2017</button>
    </div>
    <div id="page11-button-bar6" class="button-bar">
      <button id="page11-button63" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2016</button>
      <button id="page11-button64" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2016</button>
    </div>
    <div id="page11-button-bar5" class="button-bar">
      <button id="page11-button61" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2015</button>
      <button id="page11-button62" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2015</button>
    </div>
    <div id="page11-button-bar7" class="button-bar">
      <button id="page11-button65" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2014</button>
      <button id="page11-button66" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2014</button>
    </div>
    <div id="page11-button-bar8" class="button-bar">
      <button id="page11-button67" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">חורף 2013</button>
      <button id="page11-button68" style="border-radius:20px 20px 20px 20px;" class="button button-energized button-block">קיץ 2013</button>
    </div>
  </ion-content>
</ion-view>