<ion-view title="משחקים" id="page8" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 64px;"></div>
    <button id="page8-button15" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">משחק 1</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <button id="page8-button17" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">משחק 2</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <button id="page8-button16" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">משחק 3</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <button id="page8-button19" style="font-size:25px;border-radius:25px 25px 25px 25px;" class="button button-energized button-block">משחק 4</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <button id="page8-button18" style="font-weight:600;font-size:25px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">משחק 5</button>
  </ion-content>
</ion-view>