<ion-view title="תנצל ותועיל" id="page5" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/WpKhCo8TPadlVm9ztd2e_PI.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <a ui-sref="page6()" id="page5-button10" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">!שתף שאלה וקבל תשובה</a>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <a ui-sref="page6()" id="page5-button11" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">צפה בשאלות של אנשים</a>
  </ion-content>
</ion-view>